<div id='sound-to-word'>
	<div class='question-voice'>
		<div class='sound-icon glyphicon glyphicon-volume-up' play-audio='{ audioLink: "{{model.data.questions[model.data.current].question.voiceLink}}", autoplay: true }'></div>
	</div>
	<h3 class='text-center' ng-visible='!model.data.questions[model.data.current].question.wasAnswered'>{{model.data.questions[model.data.current].question.phrase}}</h3>
	<div class='form-row' ng-class='{ "has-success": model.data.questions[model.data.current].question.wasAnswered && (model.data.questions[model.data.current].question.wasAnswered === model.data.questions[model.data.current].question.correct), "has-error": model.data.questions[model.data.current].question.wasAnswered && (model.data.questions[model.data.current].question.wasAnswered === !model.data.questions[model.data.current].question.correct) }'>
		<div class='col-md-offset-3 col-md-5'>
			<input type='text' class='answer form-control' ng-enter='checkAnswer(currentAnswer)' ng-model='currentAnswer' ng-disabled="model.data.questions[model.data.current].question.wasAnswered" set-focuce='true' />
		</div>
		<button class='btn check-answer' ng-click='checkAnswer(currentAnswer)' ng-class='{ "btn-success": model.data.questions[model.data.current].question.wasAnswered && (model.data.questions[model.data.current].question.wasAnswered === model.data.questions[model.data.current].question.correct), "btn-danger": model.data.questions[model.data.current].question.wasAnswered && (model.data.questions[model.data.current].question.wasAnswered === !model.data.questions[model.data.current].question.correct), "btn-default": !model.data.questions[model.data.current].question.wasAnswered }' ng-disabled="model.data.questions[model.data.current].question.wasAnswered">Check</button>
	</div>
	<div ng-show='model.data.questions[model.data.current].question.wasAnswered'>
		<div class='col-md-offset-2 col-md-4'>
			<div class='question-image'>
				<img src='{{model.data.questions[model.data.current].question.pictureLink}}'> 
			</div>
			<div class='question-context'>{{model.data.questions[model.data.current].question.context}}</div>
		</div>
		<button class='forward btn btn-default col-md-offset-2' ng-click='next()' >Next</button>
	</div>
</div>