<div id='world-build'>
	<div class='question'>{{model.data.questions[model.data.current].question.translation}}</div>
	<div class='current-answer'>{{model.data.questions[model.data.current].currentAnswer}}</div>
	<div class='symbols'>
		<div class='symbol btn ' ng-repeat='symbol in model.data.questions[model.data.current].symbols' ng-click='selectSymbol(symbol)' ng-class='{ "btn-default": !symbol.wrong, "btn-danger": symbol.wrong, "disabled": model.data.questions[model.data.current].question.wasAnswered }'>{{symbol.val}}</div>
	</div>
		<div class='question-voice'>
			<div class='sound-icon glyphicon glyphicon-volume-up' play-audio='{ audioLink: "{{model.data.questions[model.data.current].question.voiceLink}}", autoplay: {{model.data.questions[model.data.current].question.wasAnswered}} }' ng-hide='!model.data.questions[model.data.current].question.wasAnswered'></div>
		</div>
	</div>
	<div class='col-md-offset-3 col-md-5'>
		<div class='question-image'>
			<img src='{{model.data.questions[model.data.current].question.pictureLink}}' ng-show='model.data.questions[model.data.current].question.wasAnswered'>
		</div>
		<div class='question-context'>{{model.data.questions[model.data.current].question.context}}</div>
	</div>
	<div class='forward btn btn-default' ng-click='showAnswer()' ng-hide='model.data.questions[model.data.current].question.wasAnswered'>Don't know</div>
	<div class='forward btn btn-primary' ng-click='next()' ng-show='model.data.questions[model.data.current].question.wasAnswered'>Next</div>
</div>