<div class="row">
	<div class="col-md-3" ng-repeat="question in model.data.questions">
		<div class="well">
			<h3 class="text-center">{{question.question.phrase}}</h3>
			<h3 class="text-center" ng-class="{invisible: !question.question.answered}">{{question.question.translation}}</h3>
			<div>
				<div class="btn btn-success" ng-hide="question.question.answered" ng-click="setAnswer(question, true)">Know</div>
				<div class="btn btn-danger" ng-hide="question.question.answered" ng-click="setAnswer(question, false)">Don't know</div>
				<div class="btn btn-danger" ng-show="question.question.answered" ng-class="{invisible: !question.question.correct}" ng-click="setAnswer(question, false)">Sorry, I don't know</div>
			</div>
			
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-offset-10 col-md-1 btn btn-primary" ng-click="again()"><i class="glyphicon glyphicon-refresh"></i> Again</div>
	<div class="col-md-1 btn btn-default" ng-click="exit()">Exit</div>
</div>