@import "bootstrap.less";

body {
	padding-top: 100px;
	background-color: #f9db45
}

.all-width {
	width: 100%;
}

.thumbnail .t {
	.clearfix();
}

.exerise {
	margin-bottom: 20px;
}

.login-buttons {
	margin-top: 7px;
}

textarea {
	resize: none;
}

textarea#content {
	height: 200px;
}

.video iframe {
	width: 440px;
	height: 330px;
}