@import "bootstrap.less";
@import "glyphicons.less";

@text-color: #4f4c4c; 
@text-color-hovered: black;

@selected-bg: #f6f6f6;

body {
  background-color: #F8F8F8;
}

.navbar-header {
  font-style: italic;
  padding-left: 0;
}

.navbar-collapse {
  padding: 0;
}

.navbar,
.well {
  background: #fff;
}

.all-width {
  width: 100%;
}

.thumbnail .t {
  .clearfix();
}

.exerise {
  margin-bottom: 20px;
}

.login-buttons {
  margin-top: 7px;
}

textarea {
  resize: none;
}

textarea#content {
  height: 200px;
}

.video iframe {
  width: 100%;
  height: 260px;
}

.content-nav  {
  margin: 0 0 0 -39px;
  padding: 0 0 0 20px;
  border-right: 1px solid lightgray;

  li {
	height: 130px;
	line-height: 130px;
	display: block;
	cursor: pointer;
	text-align: center;
	.user-select(none);

	&.selected,
	&:hover {
	  background: @selected-bg;
	}
  }
}

.content-search-result {

  .content-search-item {
	border-bottom: 1px solid lightgray;
	.content-recent {
	  margin-top: 10px;
	  display: inline-block;
	}
  }
}

.dictionary-item {
  font-size: 16px;
  color: #4f4c4c;
  padding: 5px 0;
  
  &:hover {
	background: @selected-bg;
	color: @text-color-hovered;
  }
  
  .dictionary-item-delete {
	font-size: 1.3em;
	visibility: hidden;
	& .glyphicon {
	  cursor: pointer;
	}
  }
  .sound-icon {
	display: inline-block;
	font-size: 1.3em;
	margin-right: 15px;
	vertical-align: sub;
	& .glyphicon {
	  cursor: pointer;
	}

  }
  &:hover {
	.dictionary-item-delete {
	  visibility: visible;
	  text-align: center;
	}
  }
}

.dictionary-search-container {
  position: relative;
  z-index: 1;
}

.dictionary-search-results {
  position: absolute;
  background: #fff;
  width: auto;
  display: block;
  border: 1px solid #cccccc;
  padding: 5px 0;
  z-index: 1;
}

.dictionary-search-results-item {
  padding: 0 10px;
  margin-bottom: 5px;
  cursor: pointer;

  &:hover {
	text-decoration: underline;
  }
}

.add-your-translation {
  padding: 10px;
}

.your-translation {
  display: none;
  padding: 0 10px;
  input[type='text'] {
	margin-top: 5px;
	widows: 100%;
  }
}

.your-translation input[type='text'] {
  margin-top: 5px;
  widows: 100%;
}

tran {
  cursor: pointer;
  
  &:hover {
	color: @text-color-hovered;
  }
  
  &.in-dictionary {
	background: lightgoldenrodyellow;
  }
}

context.highlight-context {
  background: #dedede;
}

.sound-icon {
  margin-right: 5px;
}

.words_wrapper {
  height: 400px;
  overflow-y: auto;
}

.paginator {
  margin: 15px 0;
}

#search-type {
  .clearfix();
}

#search-type div {
  width: 25%;
  height: 34px;
  border: 1px solid transparent;
  float: left;
  line-height: 34px;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
  cursor: pointer;

  &.selected,
  &:hover {
	background-color: @selected-bg;
  }
}

.logout-gravatar:hover ul {
  display: block;
}

.logout-gravatar ul {
  position: absolute;
  right: 0;
  top: 100%;
  display: none;
  list-style: none;
  padding: 0;
  background: #fff;
  min-width: 100px;
  border: 1px solid #dedede;
  z-index: 1;

  li {
	padding: 10px;
	border-bottom: 1px solid #dedede;

	a {
	  display: block;
	  padding: 0;

	  &:hover {
		text-decoration: none;
	  }
	}

	&:last-child {
	  border-bottom: none;
	}
	&:hover {
	  background: #dedede; 
	}
  }
}

.contents-list {
  .contents-list-header {
	font-size: 18px;
  }
  
  .contents-list-item {
	font-size: 16px;

	td {
	  color: @text-color;
	  padding: 5px 0;
	}
	
	&:hover {
	  background: @selected-bg;
	  
	  a,
	  td {
		color: @text-color-hovered;
	  }
	}
	
  }
  
  .item-caption a {
	color: @text-color;	

	&:hover {
	  text-decoration: none;
	}
  }
  
  .item-pages,
  .item-date {
	text-align: center;
  }
}

#exercises {
  padding: 10% 0;
}

#exercise-word-translation {
  .answer {
	  display: block;
	  margin-bottom: 15px;
  }
  
  .question {
	  font-size: 35px;
	  text-align: center;
	  margin-right: 15px;
  }

  .question > .glyphicon {
	  font-size: 25px;
	  margin-right: 15px;
	  cursor: pointer;
  }

  .question-image {
	  text-align: center;
  }
  .question-voice {
	  display: inline-block;
	  background: url(http://www.bris.ac.uk/engineering/schools/mven/venturersvoice/images/megaphone.gif);
	  width: 30px;
	  height: 30px;
	  background-size: cover;
	  cursor: pointer;
  }
  .answers {
	  margin-bottom: 50px;
  }
  .forward {
	  display: block;
  }
}

.translation-list-wrapper {
  .show-all-checkbox {
	margin: 5px 0;
	
	label + input[type='checkbox'] {
	  margin-left: 10px;
	}
  }
  
  #translation-list {
	.header {
	  font-weight: bold;
	  line-height: 28px;
	}
	
	.body {
	  .edit-translation,
	  .remove-translation {
		visibility: hidden;
	  }
	  .row {
		color: @text-color;
	  }	  
	  &>.row:hover {
		background: @selected-bg;
		color: @text-color-hovered;
		
		.edit-translation,
		.remove-translation {
		  visibility: visible;
		}
	  }
	}	
  }
}

#edit-dictionary-dialog {
  
  .text {
	font-size: 18px;
	line-height: 28px;
	font-weight: bold;
	text-align: center;
  }
  
  .translation-image {
	text-align: center;
	margin: 10px 0;
  }
  
  .translation-image img {
	width: 100px;
	height: 100px;
	display: inline-block;
  }
  
  .translations-list-item {
	  border: 1px solid #dedede;
	  border-radius: 50px;
	  text-align: center;
	  line-height: 26px;
	  margin-bottom: 5px;
	  cursor: default;
	  position: relative;
  }
  
  .context {
	margin-bottom: 10px;
  }
  
  .remove {
	position: absolute;
	right: 10px;
	top: 0;
	color: red;
	display: none;
	cursor: pointer;
  }
  
  .translations-list-item.selected,
  .translations-list-item:hover {
    background: @selected-bg;
  }
  
  .translations-list-item:hover .remove {
	display: block;
  }
}

.change-email,
.change-password {
	margin-bottom: 10px;
}

.statistic-chart-container {
	& img {
		margin: 0 auto;
		display: block;
	}
}

#world-build {
  .question {
	text-align: center;
	font-size: 28px;
	font-weight: bold;
  }
  
  .symbols {
	text-align: center;
  }
  
  .symbol {
	margin-right: 10px;
  }
  
  .current-answer {
	text-align: center;
	font-size: 28px;
	min-height: 40px;
  }
  
  .question-voice {
	margin: 10px auto;
	height: 30px;
	font-size: 30px;
	text-align: center;
  }
}

#sound-to-word {
  .question-voice {
	margin: 10px auto;
	height: 50px;
	line-height: 50px;
	font-size: 50px;
	text-align: center;
  }
  
  .answer {
	margin-right: 15px;
  }
  
  .check-answer {
	margin-bottom: 20px;
  }
}