@import "bootstrap.less";
@import "glyphicons.less";

body {
	padding-top: 100px;
	background-color: #f9db45
}

.all-width {
	width: 100%;
}

.thumbnail .t {
	.clearfix();
}

.exerise {
	margin-bottom: 20px;
}

.login-buttons {
	margin-top: 7px;
}

textarea {
	resize: none;
}

textarea#content {
	height: 200px;
}

.video iframe {
	width: 440px;
	height: 330px;
}



.content-nav  {
	margin: 0;
	padding: 0;
	border-right: 1px solid lightgray;
	border-radius: 10px;

	li {
		height: 100px;
		display: block;
		cursor: pointer;
		padding: 20px;
		margin-bottom: 10px;
		text-align: center;
	}
}

.content-search-result {

	.content-search-item {
		border-bottom: 1px solid lightgray;
		.content-recent {
			margin-top: 10px;
			display: inline-block;
		}
	}
}

.dictionary-item {
	.dictionary-item-delete {
		font-size: 1.3em;
		visibility: hidden;
		& .glyphicon {
			cursor: pointer;
		}
	}
	.sound-icon {
		display: inline-block;
		font-size: 1.3em;
		margin-right: 15px;
		vertical-align: sub;
		& .glyphicon {
			cursor: pointer;
		}
		
	}
	&:hover {
		.dictionary-item-delete {
		visibility: visible;
		text-align: center;
	}
	}
}